#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

#search-teachers {
  margin-top: 3.2rem;
}

.teacher-item-empty {
  background: var(--color-box-base);
  border: 1px solid var(--color-line-in-white);
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  padding: 15px 20px;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#search-teachers button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: ease all 0.2s;
  margin-top: 3.2rem;
  outline: none;
}

#search-teachers button:hover {
  background: var(--color-secundary-dark);
}

#search-teachers button img {
  width: 50px;
  padding-top: 5px;
}

@media(min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;
  }

  #search-teachers {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 80px;
    column-gap: 6px;
    position: absolute;
    bottom: -28px;
  }

  #search-teachers .input-block+.input-block,
  #search-teachers .select-block+.select-block {
    margin-top: 0;
  }

  #page-teacher-list main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }

  #search-teachers button img {
    width: 30px;
    padding-top: 10px;
  }
}